<html><head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="./css/main.css">
		<title>
			蜘蛛日志分析工具
		</title>

		<script src="./mode-javascript.js"></script>
		<script src="./text.js"></script>
		<script src="./javascript.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a href="http://echarts.baidu.com/index.html" class="navbar-brand">
						<img src="./img/logo.png" alt="echarts logo" class="navbar-logo">
					</a>
				</div>
				<div id="navbar-collapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li id="nav-index">
							<a href="http://echarts.baidu.com/index.html">
								首页
							</a>
						</li>
						<li id="nav-doc" class="dropdown">
							<a href="http://echarts.baidu.com/examples/editor.html?c=area-stack&amp;qq-pf-to=pcqq.c2c#" data-toggle="dropdown" class="dropdown-toggle">
								文档
								<b class="caret">
								</b>
							</a>

						</li>
						<li id="nav-download" class="dropdown">
							<a href="http://echarts.baidu.com/examples/editor.html?c=area-stack&amp;qq-pf-to=pcqq.c2c#" data-toggle="dropdown" class="dropdown-toggle">
								下载
								<b class="caret">
								</b>
							</a>

						</li>
						<li id="nav-examples" class="active">
							<a href="http://echarts.baidu.com/examples/editor.html?c=area-stack&amp;qq-pf-to=pcqq.c2c#" data-toggle="dropdown" class="dropdown-toggle">
								实例
								<b class="caret">
								</b>
							</a>

						</li>
						<li id="nav-community">
							<a href="http://echarts.baidu.com/examples/editor.html?c=area-stack&amp;qq-pf-to=pcqq.c2c#" data-toggle="dropdown" class="dropdown-toggle">
								社区
								<b class="caret">
								</b>
							</a>

						</li>
						<li id="nav-tool">
							<a href="http://echarts.baidu.com/examples/editor.html?c=area-stack&amp;qq-pf-to=pcqq.c2c#" data-toggle="dropdown" class="dropdown-toggle">
								工具
								<b class="caret">
								</b>
							</a>

						</li>
						<li id="nav-about">
							<a href="http://echarts.baidu.com/examples/editor.html?c=area-stack&amp;qq-pf-to=pcqq.c2c#" data-toggle="dropdown" class="dropdown-toggle">
								关于
								<b class="caret">
								</b>
							</a>

						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li id="nav-github">
							<a href="https://github.com/ecomfe/echarts" target="_blank">
								<img src="./img/github.png" width="18">
							</a>
						</li>
						<li id="nav-2" class="0">
							<a href="http://echarts.baidu.com/echarts2/">
								2.0
							</a>
						</li>
						<li id="nav-homeen">
							<a href="https://ecomfe.github.io/echarts-doc/public/en/index.html">
								EN
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="main-container">
			<div id="code-container" style="width: 28.3309%;">
				<div id="control-panel">
					<div id="code-info">
						<span class="code-info-time">
							19:28:43
						</span>
						<span class="code-info-type-info">
							图表已生成, 95ms
						</span>
					</div>
					<div class="control-btn-panel">
						<a href="javascript:;" onclick="disposeAndRun()" class="btn btn-default btn-sm">
							运行
						</a>
					</div>
				</div>
				<div id="code-panel" class=" ace_editor ace-tm">
					<textarea class="ace_text-input" wrap="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="opacity: 0; height: 14px; width: 6.59781px; left: 143.369px; top: 224px;">					</textarea>
					<div class="ace_gutter">
						<div class="ace_layer ace_gutter-layer ace_folding-enabled" style="margin-top: 0px; height: 515px; width: 47px;">
							<div class="ace_gutter-cell " style="height: 14px;">
								1
								<span class="ace_fold-widget ace_start ace_open" style="height: 14px;">
								</span>
							</div>
						</div>
						<div class="ace_gutter-active-line" style="top: 224px; height: 14px;">
						</div>
					</div>

					<div class="ace_scrollbar ace_scrollbar-v" style="width: 22px; bottom: 17px;">
						<div class="ace_scrollbar-inner" style="width: 22px; height: 1176px;">
						</div>
					</div>
					<div class="ace_scrollbar ace_scrollbar-h" style="height: 22px; left: 47px; right: 17px;">
						<div class="ace_scrollbar-inner" style="height: 22px; width: 546px;">
						</div>
					</div>
					<div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font: inherit; overflow: hidden;">
						<div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font: inherit; overflow: visible;">
						</div>
						<div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; overflow: visible;">
							XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
						</div>
					</div>
				</div>
			</div>
			<div id="h-handler" class="handler" style="left: 28.3309%;"></div>
			<div class="right-container" style="width: 71.6691%; left: 28.3309%;">
				<div id="chart-panel" class="right-panel" _echarts_instance_="ec_1531481321585" style="-webkit-tap-highlight-color: transparent; user-select: none;">

				</div>
				<div id="tool-panel">
					<div id="theme">
						<a title="" class="default selected" data-original-title="default">
							<span>
							</span>
						</a>
						<a title="" class="light" data-original-title="light">
							<span>
							</span>
						</a>
						<a title="" class="dark" data-original-title="dark">
							<span>
							</span>
						</a>
					</div>
					<button id="download" class="btn btn-sm">
						Download
					</button>
				</div>
			</div>
		</div>
		<script>
			if (window !== top) {
				var nav = document.getElementsByClassName('navbar')[0];
				nav.parentNode.removeChild(nav);
				document.getElementById('main-container').style.top = 0;
			}
		</script>
		<script type="text/javascript" src="./js/jquery.js">
		</script>



</body></html>