<html><head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/LogsParse.css'%}">
		<title>蜘蛛日志分析工具</title>

	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a href="http://echarts.baidu.com/index.html" class="navbar-brand">
						<img src="static/img/logo.png" alt="echarts logo" class="navbar-logo">
					</a>
				</div>
				<div id="navbar-collapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li id="nav-index">
							<a href="#">
								首页
							</a>
						</li>
						<li id="nav-doc" class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle" onclick="">分组<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="1">一组 -- Bieber</a></li>
                                <li><a href="#" id="2">二组 -- Perry</a></li>
                                <li><a href="#" id="3">三组 -- Aravin</a></li>
                                <li><a href="#" id="4">四组 -- Hedy</a></li>
                                <li><a href="#" id="5">五组 -- Ada</a></li>
                                <li><a href="#" id="6">六组 -- Luke</a></li>
                                <li><a href="#" id="7">七组 -- Saber</a></li>
                                <li><a href="#" id="8">八组 -- George</a></li>
                                <li><a href="#" id="9">九组 -- Nicholas</a></li>
                                <li><a href="#" id="10">十组 -- Winston</a></li>
                            </ul>
						</li>
						<li id="nav-download" class="dropdown">
							<a href="javascript:;">
								标签
								<b class="caret">
								</b>
							</a>
                            <ul class="dropdown-menu" id="spider_group">
                            </ul>
						</li>
						<li id="nav-examples" class="dropdown">
							<a href="javascript:;">
								周览
								<b class="caret">
								</b>
							</a>

						</li>
						<li id="nav-community">
							<a href="#">
								实时
								<b class="caret">
								</b>
							</a>

						</li>
						<li id="nav-tool">
							<a href="#">
								工具
								<b class="caret">
								</b>
							</a>

						</li>
						<li id="nav-about">
							<a id="refresh_all">
								刷新
								<b class="caret">
								</b>
							</a>

						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li id="nav-github">
							<a href="https://github.com/thorDemo/LogsParse_for_web.git" target="_blank">
								<img src="static/img/github.png" width="18">
							</a>
						</li>
						<li id="nav-2" class="0">
							<a href="#">
								2.0
							</a>
						</li>
						<li id="nav-homeen">
							<a href="#">
								EN
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="main-container">
			<div id="code-container" style="width: 20%;">
				<div id="control-panel">
					<div id="code-info" >
						<span class="code-info-time">
							forums_01_50
						</span>
						<span class="code-info-type-info">8组蜘蛛</span>
					</div>
					<div >
						<a id='refresh_url' class="btn btn-default btn-sm" style="position: absolute;right: 25%;background-color: #3FA7DC;border-radius: 0;color: #FFF;">
							刷新
						</a>
					</div>
				</div>
				<div id="code-panel" class=" ace_editor ace-tm" style="background-color: #FFFFFF;overflow: scroll;width: 75%">
					<div class="ace_gutter">
						<div class="ace_layer ace_gutter-layer ace_folding-enabled" style="margin-top: 0px; width: 40px; float: left;">
							<div class="" style="">
							</div>
						</div>
						<div class="ace_gutter-active-line" style="top: 224px; height: 14px; float: left;">
						</div>
					</div>
					<div class="ace_scrollbar ace_scrollbar-v" style="width: 22px; bottom: 17px;">
						<div class="ace_scrollbar-inner" style="width: 22px;">

						</div>
					</div>
					<div class="ace_scrollbar ace_scrollbar-h" id="spider_group_url" style="height: 22px; left: 47px; right: 17px;">

					</div>
					<div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font: inherit; overflow: hidden;">
						<div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font: inherit; overflow: visible;">
						</div>
						<div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; overflow: visible;">
                            xxx
						</div>
					</div>
				</div>
			</div>
			<div id="h-handler" class="handler" style="left: 15%;"></div>
			<div class="right-container" style="width: 85%; left: 15%;">
				<div id="chart-panel" class="right-panel" >

				</div>
				<div id="tool-panel">
					<div id="theme">
						<a title="" class="default selected" data-original-title="default">
							<span>
							</span>
						</a>
						<a title="" class="light" data-original-title="light">
							<span>
							</span>
						</a>
						<a title="" class="dark" data-original-title="dark">
							<span>
							</span>
						</a>
					</div>
					<button id="download" class="btn btn-sm">
						Download
					</button>
				</div>
			</div>
		</div>
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/examples/vendors/jquery/jquery.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/examples/vendors/echarts/echarts.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/examples/vendors/echarts-gl/echarts-gl.js"></script>
        <script type="text/javascript" src="{% static 'js/LogsParse_for_web.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/click.js'%}"></script>


</body>
</html>