<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老霸王蜘蛛管理工具</title>
    {% load static %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/echarts-gl.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<script>
option = {
    title: {
        text: '世界人口总量',
        subtext: '数据来自网络'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        data: ['2011年', '2012年', '2013年']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'value',
        boundaryGap: [0, 0.01]
    },
    yAxis: {
        type: 'category',
        data: ['巴西','印尼','美国','印度','中国','世界人口']
    },
    series: [
        {
            name: '2011年',
            type: 'bar',
            data: [18203, 23489, 29034, 104970, 131744, 630230]
        },
        {
            name: '2012年',
            type: 'bar',
            data: [19325, 23438, 31000, 121594, 134141, 681807]
        },
        {
            name: '2013年',
            type: 'bar',
            data: [19325, 23438, 31000, 101594, 100141, 601807]
        }
    ]
};
</script>

<body>
    <div style="text-align: center">
        <div style="text-align: center; margin-bottom: 20px;">
            <input placeholder="服务器IP" style="margin: auto;" id="post_ip" type="text"/>
            <input placeholder="服务器密码" style="margin: auto" id="post_pwd" type="password"/>
            <input placeholder="顶级域名" style="margin: auto;" id="post_url" type="text"/>
            <input placeholder="端口号" style="margin: auto;" id="post_port" type="text"/>
            <input onclick="getdata()" value="点击查询" type="button" style="margin: auto"/>
        </div>
        <div id="chart1" style="width: 800px;height:600px; margin: auto" ></div>
    </div>
    <div style="text-align: center">
        <div style="text-align: center; margin-bottom: 20px">
            <input placeholder="服务器IP" style="margin: auto;" id="post_ip" type="text"/>
            <input placeholder="服务器密码" style="margin: auto" id="post_pwd" type="password"/>
            <input placeholder="日期：20180808" style="margin: auto;" id="post_url" type="text"/>
            <input onclick="getdata()" value="点击查询" type="button" style="margin: auto"/>
        </div>
        <div id="chart2" style="width: 800px;height:800px;margin-bottom: 100px;text-align: center;margin: auto"></div>

    </div>
</body>
    <script src="{% static 'js/LogsParse_for_web.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/hello.css' %}"/>
</html>